{% extends "Home/base.html" %}
{% block content %}
<h1> Note Card </h1>
<div class="row">
    {% for card in notes %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card ID Number {{ card.notes_id }}</h5>
                <ul>
                    <li>{{ card.content }}</li>
               
                </ul>
                <a href="{{ url_for('notes.create_note') }}" class="btn btn-success">Add Notes</a>
                    
                <form action="{{ url_for('notes.delete_note') }}" method="GET">
                    <input type="hidden" name="notes_id" value="{{ card.notes_id }}">
                    <button type="submit" class="btn btn-danger">Delete Note</button>
                </form>
                <a href="{{ url_for('notes.create_note') }}" class="btn btn-primary">Edit Note</a>
                <a href="{{ url_for('notes.create_note') }}" class="btn btn-primary">Configure Note</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<style>
    h1{
        padding-left: 425px;
    }   
    .card-body{
        padding-bottom: 3px;
    }
</style>
{% endblock %}