{% extends "Home/base.html" %}
{% block content %}
<h1> Notes </h1>
<a href="{{ url_for('notes.create_note') }}" class="btn btn-success">Add Notes</a>
                    
<div class="row">
    {% for card in notes %}
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card ID Number {{ card.notes_id }}</h5>
                <ul>
                    <li>{{ card.content }}</li>
               
                </ul>
                
                <form action="{{ url_for('notes.delete_note') }}" method="GET">
                    <input type="hidden" name="notes_id" value="{{ card.notes_id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <a href="{{ url_for('notes.create_note') }}" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<style>
    h1{
        padding-left: 425px;
    }   
    .card-body{
        padding-bottom: 3px;
    }
    .container{
        border-radius: 25px;
        border: 2px solid #73AD21;
    }
        .nav-link{
            color: black;
            font-size: large;
        }
        ul {
            list-style-type: none; /* Removes the default bullets */
            padding: 0;
            margin: 0;
        }
        
        ul li {
            padding: 5px 0; /* Adjusts the spacing between items */
        }
        html{
            margin-bottom: 150px;
        }
</style>
{% endblock %}